:root {
  --accent-color: #4d5ae5;
  --main-color: #2e2f42;
  --text-color: #434455;
  --bgc: #ffffff;
  --secondbgc: #f4f4fd;
  --secondbgcbtn: #404bbf;
  --bgcbtnfilter: #e7e9fc;
  --hero-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --hero-shadow-hover: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  --custom-border: #8e8f99;
  --customers-icon: #afb1b8;
  --bgcsocial: rgba(255, 255, 255, 0.1);
  --secondbgcsocial: #31d0aa;
  --backdropbgc: rgba(46, 47, 66, 0.4);
  --modalbgc: #fcfcfc;
}

/*--------------------- Utilites */

.accent {
  color: var(--accent-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

input {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*--------------------- body */

body {
  font-family: roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
  background-color: var(--bgc);
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px;
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 428px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 16px;
  }
}

@media screen and (min-width: 1128px) {
  .container {
    width: 1158px;
    padding: 0 15px;
  }
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 1128px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.section.project {
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: var(--bgc);
}
@media screen and (min-width: 1128px) {
  .section.project {
    padding-top: 0;
    padding-bottom: 120px;
    background-color: var(--bgc);
  }
}

.section:nth-child(4) {
  background-color: var(--secondbgc);
}

/*--------------------- head */

.header.portf {
  border-bottom: 1px solid var(--bgcbtnfilter);
}

.container.head,
.nav-head {
  align-items: center;
}

.nav-head {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .nav-head {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.link.current {
  color: var(--secondbgcbtn);
  position: relative;
}

@media screen and (min-width: 768px) {
  .link.current::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--secondbgcbtn);
  }
}

/*--------------------- logo */

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}

/*--------------------- navigation */

.nav-style {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
  .nav-style {
    display: flex;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-color);
  }
}

@media screen and (max-width: 767px) {
  .nav-style + .nav-style {
    margin-top: 40px;
  }
}

@media screen and (min-width: 768px) {
  .nav-style + .nav-style {
    margin-left: 40px;
  }
  .nav-style .link {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.link:hover,
.link:focus,
.link:active {
  color: var(--secondbgcbtn);
}
.link {
  display: block;
  color: var(--main-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts,
.nav-head,
.site-nav,
.container.head {
  display: flex;
}

@media screen and (max-width: 767px) {
  .site-nav {
    flex-direction: column;
  }
}

@media screen and (min-width: 767px) {
  .contacts a {
    text-decoration: none;
    color: var(--text-color);
    font-style: normal;
  }
}

.contacts {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--text-color);
  font-style: normal;
}

@media screen and (max-width: 767px) {
  .contacts {
    flex-direction: column-reverse;
    gap: 40px;
  }
}

@media screen and (min-width: 768px) {
  .contacts {
    flex-direction: column;
    margin-left: auto;
    gap: 16px;
  }
}

@media screen and (min-width: 1128px) {
  .contacts {
    flex-direction: row;
    margin-left: auto;
    gap: 0px;
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  .mail-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--text-color);
    font-style: normal;
  }

  .tel-link {
    color: var(--accent-color);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }
}

.address {
  display: flex;
}

@media screen and (min-width: 768px) {
  .address {
    margin-left: 120px;
  }
}

@media screen and (min-width: 1128px) {
  .address {
    margin-left: auto;
  }
}

@media screen and (max-width: 767px) {
  .address {
    flex-wrap: wrap;
    margin-top: auto;
    height: 100%;
  }
}

@media screen and (min-width: 1128px) {
  .call + .call {
    margin-left: 40px;
  }
}

@media screen and (max-width: 767px) {
  .navigation {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--bgc);

    padding-top: 80px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }

  @media screen and (min-width: 400px) {
    .navigation {
      padding-left: 40px;
    }
  }

  .navigation.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    margin-left: 120px;
    width: 100%;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .menu-button,
  .navigation .closemenu-button {
    display: none;
  }
}

.menu-button {
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  border: none;
  width: 32px;
  height: 24px;
}

.open-menu {
  width: 32px;
  height: 22px;
  stroke: black;
  display: block;
}

.closemenu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: transparent;
  border: 1px solid var(--bgcbtnfilter);
  border-radius: 50%;
  width: 24px;
  height: 24px;
}

.close-menu {
  width: 8px;
  height: 8px;
  display: block;
}

.menu-socials {
  display: flex;
  margin-top: 48px;
  gap: 25px;
}

@media screen and (min-width: 428px) {
  .menu-socials {
    gap: 56px;
  }
}

@media screen and (min-width: 768px) {
  .menu-socials {
    display: none;
  }
}

.menu-socials .social-icons {
  width: 24px;
  height: 24px;
}

/*--------------------- Main */
/*--------------------- Hero */

.hero-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--bgc);
  margin-bottom: 72px;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1128px) {
  .hero-text {
    font-size: 56px;
    width: 500px;
    margin-bottom: 48px;
    max-width: 500px;
  }
}

.hero {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/main/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 112px 0;
  text-align: center;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/main/hero-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/main/hero-tablet.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/main/hero-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1128px) {
  .hero {
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/main/hero-desktop.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1128px),
  screen and (min-resolution: 192dpi) and (min-width: 1128px),
  screen and (min-resolution: 2dppx) and (min-width: 1128px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/main/hero-desktop@2x.jpg);
  }
}

.hero-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;

  cursor: pointer;
  color: var(--bgc);
  background-color: var(--accent-color);
  box-shadow: var(--hero-box-shadow);
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--secondbgcbtn);
  box-shadow: var(--hero-shadow-hover);
}

/* --------------------- Features */
.features {
  display: none;
}

.future-list {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .future-list {
    gap: 24px;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .future-block {
    flex-basis: calc((100% - 32px) / 2);
  }
}

@media screen and (min-width: 1128px) {
  .future-block {
    flex-basis: calc((100% - 102px) / 4);
  }
}

@media screen and (max-width: 1127px) {
  .future-block .future-name {
    margin-bottom: 8px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-color);
  }
}

@media screen and (min-width: 768px) {
  .future-block .future-name {
    text-align: start;
  }
}

@media screen and (min-width: 1128px) {
  .future-name {
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 767px) {
  .future-block + .future-block {
    padding-top: 72px;
  }
}

.future-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.project-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.box-icons {
  display: none;
}

@media screen and (min-width: 1128px) {
  .box-icons {
    display: flex;
    width: 264px;
    height: 112px;
    justify-content: center;
    align-items: center;
    background-color: var(--secondbgc);
    margin-bottom: 8px;
  }
}

.icons-feature {
  width: 64px;
  height: 64px;
}
/*--------------------- What we are doing */

@media screen and (max-width: 1127px) {
  .section.doing {
    display: none;
  }
}

.section.doing {
  padding-top: 0;
}

.what-pict {
  display: flex;
}

.item + .item {
  margin-left: 24px;
}

.features,
.wwad,
.our-team,
.customers {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-color);
  margin-bottom: 72px;
}
/*--------------------- Our team */

.our-teamlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.team-list {
  box-shadow: var(--hero-shadow-hover);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .team-list + .team-list {
    margin-top: 72px;
  }
}

@media screen and (min-width: 767px) {
  .team-list:nth-child(-n + 2) {
    margin-bottom: 64px;
  }

  .team-list:nth-child(odd) {
    margin-right: 24px;
  }
}

@media screen and (min-width: 1128px) {
  .team-list:nth-child(-n + 2) {
    margin-bottom: 0px;
  }

  .team-list:nth-child(odd) {
    margin-right: 0px;
  }
}

@media screen and (min-width: 1127px) {
  .team-list + .team-list {
    margin-left: 24px;
  }
}

.team-list .head-name {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.our-head {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: var(--bgc);
}

.our-head .head-name {
  margin-bottom: 8px;
}

.team-list .position {
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.our-teamlist ul {
  display: flex;
  justify-content: center;
  margin-top: 8px;
  gap: 24px;
}

.social-list {
  width: 40px;
  height: 40px;
}

.social-links:hover,
.social-links:focus {
  background-color: var(--secondbgcbtn);
}

.social-icons {
  width: 16px;
  height: 16px;
  fill: var(--secondbgc);
}

.social-links {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*--------------------- Customers */
.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .customers-list {
    gap: 24px;
  }
}

.custom-list {
  width: 190px;
  height: 88px;
}

@media screen and (max-width: 767px) {
  .custom-list:nth-child(odd) {
    margin-right: 16px;
  }

  .custom-list {
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 768px) {
  .custom-list {
    width: 168px;
  }
  .custom-list:nth-child(-n + 3) {
    margin-bottom: 48px;
  }
}

.custom-link:hover,
.custom-link:focus {
  border: 1px solid var(--secondbgcbtn);
}

.custom-link:hover .custom-icon,
.custom-link:focus .custom-icon {
  fill: var(--secondbgcbtn);
}

.custom-link {
  display: flex;
  width: 100%;
  height: 100%;

  align-items: center;
  justify-content: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  border: 1px solid var(--custom-border);
  border-radius: 4px;
}

.custom-icon {
  width: 104px;
  height: 56px;
  fill: var(--custom-border);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*--------------------- Footer */

.footer {
  padding: 100px 0;
  background-color: var(--main-color);
}

.footer .container {
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .footer-block {
    display: flex;
    flex-wrap: wrap;
    margin-left: 92px;
  }
}

@media screen and (min-width: 1128px) {
  .footer-block {
    margin-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .footer-box {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 268px;
  }
}

.end-page {
  text-align: start;
  color: var(--bgcbtnfilter);
  max-width: 264px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 16px;
}

.logo-end {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bgc);
}

.footer > .container {
  display: flex;
}

@media screen and (max-width: 767px) {
  .socials {
    margin-top: 72px;
  }
}

@media screen and (min-width: 768px) {
  .socials {
    margin-left: 24px;
  }
}

@media screen and (min-width: 1128px) {
  .socials {
    margin-left: 100px;
  }
}

.socials-name {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--bgc);
}

@media screen and (min-width: 768px) {
  .socials-name {
    text-align: start;
  }
}

.socials ul {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  gap: 16px;
}

.socials .social-links {
  background-color: var(--bgcsocial);
}

.socials .social-links:hover,
.socials .social-links:focus {
  background-color: var(--secondbgcsocial);
}

.socials .social-icons {
  width: 24px;
  height: 24px;
}

/*--------------------- SUBSCRIPTION */

.subscr {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--bgc);
}

@media screen and (max-width: 767px) {
  .subscr {
    margin-top: 72px;
  }
}

@media screen and (min-width: 768px) {
  .subscr {
    display: block;
  }
}

.subscr h3 {
  text-align: center;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .subscr h3 {
    text-align: start;
  }
}

@media screen and (min-width: 768px) {
  .footer-block form {
    margin-top: 72px;
  }
}

@media screen and (min-width: 1128px) {
  .footer-block form {
    margin-top: 0px;
    margin-left: 80px;
  }
}

.subscr-label {
  position: absolute;
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;

  left: 16px;
  bottom: 50%;
  transform: translateY(50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}

.subscr-input {
  padding: 8px 16px;
  background-color: var(--main-color);

  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

@media screen and (max-width: 767px) {
  .input-block {
    max-width: 400px;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .subscr-input {
    width: 264px;
  }
}

.subscr-input:not(:placeholder-shown) + .subscr-label,
.subscr-input:focus + .subscr-label {
  transform: translate(0, -100%);
}

@media screen and (min-width: 768px) {
  .subscr-input:not(:placeholder-shown) + .subscr-label,
  .subscr-input:focus + .subscr-label {
    transform: translate(-65px, 50%);
  }
}

.input-block {
  display: inline-flex;
  position: relative;
}

.subscr button {
  margin-top: 16px;
  display: inline-flex;
  align-items: center;
  padding: 8px 24px;
  background-color: var(--accent-color);
  border-radius: 4px;
  border-color: var(--accent-color);
  color: var(--bgc);
  letter-spacing: 0.04em;
  font-weight: 500;
  line-height: 1.5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .subscr button {
    margin-top: 0;
    margin-left: 24px;
  }
}

.subscr button:hover,
.subscr button:focus {
  background-color: var(--secondbgcbtn);
  box-shadow: var(--hero-shadow-hover);
}

.icon-subscr {
  height: 24px;
  width: 24px;
  fill: var(--bgc);
}

/*--------------------- Portfolio */

/*--------------------- Filter */

.filter-button {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--accent-color);
  background-color: var(--secondbgc);
  border: 1px solid var(--bgcbtnfilter);
  border-radius: 4px;
  padding: 12px 24px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
  color: var(--bgc);
  background-color: var(--secondbgcbtn);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: 1px solid var(--secondbgcbtn);
}

.buttons + .buttons {
  margin-left: 24px;
}

.filter {
  display: flex;
  justify-content: center;
}

/*--------------------- Main */
.container.project {
  padding-top: 96px;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  margin-top: 72px;
  gap: 48px 24px;
}

.cards {
  flex-basis: calc((100% - 2 * 24px) / 3);
}

.project-link:hover .project-head,
.project-link:focus .project-head {
  border-left: 1px solid var(--secondbgc);
  border-right: 1px solid var(--secondbgc);
  border-bottom: 1px solid var(--secondbgc);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.project-head {
  padding-left: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
  border-left: 1px solid var(--bgcbtnfilter);
  border-right: 1px solid var(--bgcbtnfilter);
  border-bottom: 1px solid var(--bgcbtnfilter);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 8px;
}

.card-overlay {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 40px;
  background-color: var(--accent-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondbgc);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover .overlay-text,
.project-link:focus .overlay-text {
  transform: translateY(0);
}

/*--------------------- BackDrop*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--backdropbgc);
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transform: scale(1.1);
}

.modal {
  width: 408px;
  height: 584px;
  background-color: var(--modalbgc);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background: var(--bgcbtnfilter);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close:hover,
.close:focus {
  background-color: var(--secondbgcbtn);
  color: var(--bgc);
  border: 1px solid var(--secondbgcbtn);
}

.close:hover .close-icon,
.close:focus .close-icon {
  fill: var(--bgc);
}

.close-icon {
  width: 8px;
  height: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 72px;
  padding-bottom: 24px;
}

.form-title {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-color);
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.form-body {
  margin-bottom: 16px;
}

.form-field {
  flex-direction: column;
}

.form-field div {
  display: inline;
  position: relative;
  margin-bottom: 8px;
}

.label-name {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--custom-border);
  margin-bottom: 4px;
}

.form-field input {
  padding: 10px 38px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
}

.form-field input:hover,
.form-field input:focus {
  border: 1px solid var(--accent-color);
}

.form-svg {
  width: 18px;
  height: 24px;
  position: absolute;
  left: 16px;
  bottom: 50%;
  transform: translateY(50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input:focus + .form-svg {
  fill: var(--accent-color);
}

.text-area {
  padding: 8px 16px;
  resize: none;
  width: 360px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

.text-area:hover,
.text-area:focus {
  border: 1px solid var(--accent-color);
}

.text-area::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox:checked + .custom-check {
  background-color: var(--secondbgcbtn);
  border-color: var(--secondbgcbtn);
  background-image: url(../images/main/check.svg);
  background-size: contain;
  background-origin: border-box;
  transform: scale(1.1);
}

.custom-check {
  display: inline-block;
  margin-right: 8px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  width: 16px;
  height: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label-policy {
  display: inline-flex;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  align-items: center;
  color: #757575;
}

.label-policy a {
  text-decoration: underline;
  color: var(--accent-color);
}

.button-subscr {
  display: block;
  width: 169px;
  height: 56px;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: var(--accent-color);
  color: var(--bgc);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  padding: 0;
}

.button-subscr:hover,
.button-subscr:focus {
  background-color: var(--secondbgcbtn);
  box-shadow: var(--hero-shadow-hover);
}
